image:
  repository: "{{ lookup("env", "TARGET_IMAGE") }}"
  tag: "{{ lookup("env", "TARGET_IMAGE_TAG") }}"

createImagePullSecret:
  registry: {{ lookup("env", "CI_REGISTRY") }}
  user: {{ lookup("env", "CI_DEPLOY_USER") }}
  password: {{ lookup("env", "CI_DEPLOY_PASSWORD") }}

jiraPassword: {{ lookup("hashi_vault", "secret=/apptokens/data/jira")["service@networkoptix.com"] }}

gelfServer: {{ lookup("env", "GELF_SERVER") }}

gitlabToken: {{ lookup("hashi_vault", "secret=/apptokens/data/gitlab/aws-gitlab-01")["workflow-police-app-token"] }}

gitlabUrl:  {{ lookup("env", "CI_SERVER_URL") }}

gitSshKey: |-
  {{ lookup("hashi_vault", "secret=/apptokens/data/gitlab/aws-gitlab-01")["workflow-robocat-ssh-private-key"]
      | indent( width=2 ) }}

logLevel: {{ lookup("env", "LOG_LEVEL") }}

webHookSecret: {{ lookup("env", "ROBOCAT_WEBHOOK_SECRET") }}

robocatGitRepo: {{ lookup("env", "BOT_GIT_REPO") }}

repositoryUrl: git@{{ lookup("env", "CI_SERVER_HOST") }}:{{ lookup("env", "BOT_GIT_REPO") }}.git

repositoryServer: {{ lookup("env", "CI_SERVER_HOST") }}

gitlabProjectId: {{ lookup("env", "ROBOCAT_GITLAB_PROJECT_ID") | default("2") }}
